@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

@theme{
    --font-primary: "Josefin Sans", sans-serif;
    --color-primary: #5B21B6;
    --color-dark: #4C1D95;
    --color-lighter: #F5F3FF;
    --color-light: #DDD6FE;
}